@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using bkcervar.Controllers
@{
Layout = "Master.cshtml";
}
    <link href="@Url.Content("~/css/homeStylesheet.css")" rel="stylesheet" type="text/css" />
<div>
    @{ 
        IHtmlString scrapedTable = Html.Raw("<table>" + CurrentStanding.Parse() + "</table>");
    }
</div>

<script>
    function hoverSponsor(){
        $("#myCarousel").carousel("pause");
        $("#myCarousel").attr("data-pause", "hover");
    }
    function hoverExitSponsor(){
        $("#myCarousel").carousel("cycle");
        $("#myCarousel").attr("data-pause", "false");
    }
</script>
<div id="myCarousel" class="carousel slide" data-interval="300000000"  data-ride="carousel" data-pause="false">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox" style="width:100%;height:600px">




        @{
            string[] imageList = CurrentPage.pageImage.Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries);
            string addedActive = "active";
            
        }

        @foreach (string img in imageList)
        {
            var media = Umbraco.Media(img);
            <div class="item @addedActive">
                @{addedActive = "";}

                <img src="@media.umbracoFile" style="width:100%;height:600px">
            </div>
                    }
            <div class="item" id="isSponsorSlide" onmouseover="javascript:hoverSponsor();return;" onmouseleave="javascript:hoverExitSponsor();return;">
                <div style="width:100%;height:600px">
                    
                  
                    <p style="font-size:70px;text-align:center;color:red">ŽELITE LI POSTATI SPONZOR?</p>

                    <div class="card" style="width:20rem; margin-top:30px; margin-left:400px;">
                        <img class="card-img-top" src="http://sierracascadeexpo.com/application/files/8514/4572/6080/Gold_Medal_5-150x150.png" alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title">Gold Sponzorstvo</h4>
                            <p class="card-text">-Sponzorstvo Eko Akcije, Ljetna Škola i Memorijalni turnir Lucio Pulin</p>
                            <p class="card-text">-Na sva tri eventa sponzor će biti posebno istaknut, može postaviti svoj transparent i biti će istaknut u medijima</p>
                            <a href="http://localhost:51959/en/contact-us/" class="btn btn-primary">Kontaktirajte nas</a>
                        </div>
                        
                    </div>

                    <div class="card" style="width:20rem;  margin-left:800px; margin-top:-380px;">
                        <img class="card-img-top" src="https://www.craftspiritsxchange.com/skin/frontend/base/default/images/medals/silver.png" alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title">Silver Sponzorstvo</h4>
                            <p class="card-text">-Sponzorstva dva eventa (po želji) te nešto najdivnije na svijetu</p>
                            <p class="card-text">-Biti će istaknut samo u onim događajima koje sponzorira, može postaviti mini logo te će biti spomenut u medijima</p>
                            <a href="http://localhost:51959/en/contact-us/" class="btn btn-primary">Kontaktirajte nas</a>
                        </div>
                    </div>


                    <div class="card" style="width:20rem;  margin-left:1200px; margin-top:-380px;">
                        <img class="card-img-top" src="https://rozwarner.files.wordpress.com/2011/12/bronze_medal_2.png?w=150&h=150" alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title">Bronze Sponzorstvo</h4>
                            <p class="card-text">-Sponzorstvo jedan event (po želji) te opet nesto divno na svijetu</p>
                            <p class="card-text">-Biti će istaknut samo na popisu sponzora te će biti spomenut tijekom održavanja eventa samo učesnicima (lokalno)</p>
                            <a href="http://localhost:51959/en/contact-us/" class="btn btn-primary">Kontaktirajte nas</a>
                        </div>
                    </div>

</div>
            </div>

        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


</div>




<div class="container col-md-5 col-md-offset-2">
    <div class="container-fluid" style="margin:50px auto;">
        <div class="panel panel-default" style="background-color: rgba(0,0,0,0);border: none;word-break: break-all;">

           
  <div class="panel-heading">Panel heading without title</div>

            <div class="container-fluid">

                <br>
                    @{
                        var newsNode = Umbraco.TypedContent(1096).Children.Reverse().ToList();
                        var newsCount = newsNode.Count;
                        var newsCountToShow = 3;
                    }
                        @foreach(var listItem in @newsNode){
                            if(newsCountToShow > 0){
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a href="@listItem.Url">
                                            <h3 class="panel-title">
                                                @listItem.GetPropertyValue("pageTitle")
                                            </h3>
                                        </a>
                                    </div>
                                    <div class="panel-body">
                                        @Umbraco.Truncate(@listItem.GetPropertyValue("newsText").ToString(), 200)
                                    </div>
                                </div>
                                newsCountToShow--;
                            }else{
                                break;
                            }
                        }
            </div>
        </div>
    </div>
</div>
<div class="container col-md-2">
    <div id="currentStandings">
        @scrapedTable
    </div>
    </div>
@* <div class="container col-md-2 col-md-offset-5">
    <div class="container-fluid" style="margin:50px auto;">
        <div class="panel panel-default" style="background-color: rgba(0,0,0,0);border: none;word-break: break-all;">

           

            <div class="container-fluid">
                                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a href="#">
                                            <h3 class="panel-title">
                                                HELLO
                                            </h3>
                                        </a>
                                    </div>
                                    <div class="panel-body">
                                        HELLO CONTENT
                                    </div>
                                </div>
            </div>
        </div>
    </div>
</div> *@
</div>